<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#<%= modal_id %>">
  <%= I18n.t(:track) %>
</button>

<div class="package-tracker modal fade" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="<%= "#{modal_id}" %>" aria-hidden="true" data-tracking-url="<%= package_tracker.track_path %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= I18n.t('package_tracker.header') %></h4>
      </div>
      <div class="modal-body">
        <p><%= I18n.t('package_tracker.modal_description') %></p>
        <p><input type="text" class="tracking-number" value="1010095742170014832400578986691756"/></p>
        <div class="results">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t(:close) %></button>
        <button type="button" class="btn btn-primary track"><%= I18n.t(:track) %></button>
      </div>
    </div>
  </div>

  <script class="result-template" type="text/html">
    <div class="">
      destination: {{destination.city}}, {{destination.province}}, {{destination.country}}
    </div>
    <div class="">
      shipped on: {{shipment_time}}
    </div>
    <div class="">
      status: {{status}}
    </div>


    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        {{#events}}
          <tr>
            <td>{{time}}</td>
            <td>{{location.city}}, {{location.province}}, {{location.country}}</td>
            <td>{{name}}</td>
          </tr>
        {{/events}}
    </table>
  </script>
</div>

